{% extends "control_panel_app/site_template.html" %}


{% block left_sidebar_items %}

    <ul ng-click="set_active($event)" class="nav nav-sidebar" ng-controller="LeftSidebarController">
        <li><a href="#/">Main page</a></li>
        <li><a href="#/clients">Clients</a></li>
        <li><a href="#/offers">Offers</a></li>
        <li><a href="#/campaigns">Campaigns</a></li>
        <!-- <li><a href="#/create_campaign">Create campaign</a></li> -->
    </ul>

{% endblock %}

{% block body_content %}
    <div ng-view></div>
{% endblock %}