{% extends "control_panel_app/site_template.html" %}

{% block body %}
    <div class="row" style="padding-top: 10rem;">

        <div>
        Hello world!
            {% if campaign_form and campaign_id %}
                <form action="{% url 'control_panel:detail_campaign_url' campaign_id %}" method="post">
                    {% csrf_token %}
                    {{ campaign_form }}
                    <input type="submit" value="Submit" />
                </form>
            {% endif %}
        </div>

    </div>
{% endblock %}