{% extends "control_panel_app/site_template.html" %}

{% block title %} Control panel main page {% endblock %}

{% block body %}

    <div class="row" style="padding-top: 100px;">

        {% if access_denied %}
            <p>Wrong username or password.</p>
        {% elif disabled_account %}
            <p>You'r account is disabled.</p>
        {% endif %}

        <form action="{% url 'control_panel:login_url' %}" method="post">
            {% csrf_token %}
            {{ login_form }}
            <input type="submit" value="Submit" />
        </form>

    </div>

{% endblock %}