<div class="row page-header">
    <div class="col-md-2">
        <h1> Компании </h1>
    </div>
    <div class="col-md-offset-7 col-md-3">
            <a href="{% url "control_panel:create_campaign_url" %}" style="margin-top: 1rem;" class="btn btn-primary btn-lg">
                Добавить компанию
            </a>
    </div>
</div>

<div class="row">
    <table class="table table-striped">
        <tr>
            <th>id</th><th>name</th><th>campaign_cost</th>
            <th>count_clicks</th><th>count_leads</th><th>is_active</th><th>edit</th>
        </tr>

        <tr ng-repeat="adv_campaign in adv_campaigns_list">
            <td> {[{ adv_campaign.id }]} </td>
            <td>{[{ adv_campaign.name }]}</td>
            <td>{[{ adv_campaign.campaign_cost }]}</td>
            <td>{[{ adv_campaign.count_clicks }]}</td>
            <td>{[{ adv_campaign.count_leads }]}</td>
            <td>
                <span ng-if="adv_campaign.is_active" class="glyphicon glyphicon-ok"></span>
                <span ng-if="!adv_campaign.is_active" class="glyphicon glyphicon-minus"></span>
            </td>
            <td>
                <a href="{[{ edit_campaign_url }]}{[{ adv_campaign.id }]}" type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    </table>
</div>
